@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'neon';
  src: url('../public/assets/fonts/neon.ttf');
}

@font-face {
  font-family: 'bungee';
  src: url('../public/assets/fonts/bungee.ttf');
}

@font-face {
  font-family: 'nabla';
  src: url('../public/assets/fonts/nabla.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  display: flex;
  min-height: 100vh;
}

#__next {
  flex: 1 1 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.form-input input:not(:placeholder-shown):valid {
  background-image: url(../public/assets/images/ok.png);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: center;
}

.form-input input:not(:placeholder-shown):not(:valid):not(:focus) {
  background-image: url(../public/assets/images/cross.png);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: center;
  border: 1px solid #d55c5f;
  box-shadow: none;
}
